---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Equipos">
  <main class="container mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold mb-6 text-center">Página de Equipos</h1>
    <p class="text-lg text-gray-400 text-center">
      Aquí podrás encontrar las estadísticas sobre los equipos de la NBA.
    </p>
  </main>
</BaseLayout>